@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
    /* Quand un hexadecimal comporte 6 fois le même caractère, on peut en mettre que 3 */
    --blanc: #ffffff;
    --blanc-opacity-85: rgba(255, 255, 255, 0.85);
    --noir: #000;
    --gris-clair: #cbcbcb;
    --gris: rgb(128, 128, 128);
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh; /* Viewport height */    
 }

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

main section {
    width: 50%;
    
}
/**
 * COLONNE DE DROITE
 */
 .presentation {
    background: url('../imgs/women_book.jpg') center no-repeat;
    background-size: cover; /* pour avoir la taille image couvre le bloc presentation */
    height: 100%;

    /* Astuce 1 */
    /* position: relative; */

    /* Astuce 2 */
    display: flex;
    justify-content: center;
    align-items: self-end;
   
 }

 .presentation div {
     background-color: var(--blanc-opacity-85);
     width: 85%;
     border-radius: 6px;
     font-size: 1.5rem;
     padding: 20px;

     /* Astuce 1 */
    /* position: absolute; */
    /* bottom: 50px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */

    /* Astuce 2 */
    margin-bottom: 50px;
 }

 /**
 * FORMULAIRE
 */

 .signIn form {
     width: 50%;
     margin: auto;
 }

 .signIn form h1 {
     font-size: 2.3rem;
     margin: 0;
 }

 .signIn form p {
     color: var(--gris);
     margin: 0 0 32px 0; /* Haut, droite, bas et gauche */
 }
 .signIn form label {
    display: block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 2px;
 }

 .signIn form input {
     display: block;
     border: 1px solid var(--gris-clair);
     border-radius: 4px;
     padding: 12px; /* 12px de marge intérieur sur les 4 côtés */
     margin-bottom: 16px;
     width: 100%;
     /* https://developer.mozilla.org/fr/docs/Web/CSS/box-sizing */
     box-sizing: border-box; /* pour ne pas prend en compte le padding 12px */
 }

 .signIn form button {
     background-color: var(--noir);
     color: var(--blanc);
     border-radius: 4px;
     padding: 12px 0;
     border: 0;
     width: 100%;
 }

 .signIn form a {
     border: 1px solid var(--gris-clair);
     display: flex; /* centrer vertical et horizontal */
     align-items: center;
     justify-content: center;
     text-decoration: none;
     color: var(--noir);
     font-size: 0.9em;
     gap: 10px;
     padding: 10px 0;
     border-radius: 4px;
     margin-top: 12px;
 }

 .signIn form a img {
     width: 5%;
 }
